<style>
  dialog        { display: none; }
  dialog[open]  { display: block; }
</style>

<button aria-expanded="false" aria-controls="dialog" type="button" data-controller="disclosure" data-action="click->disclosure#toggle">
  Open Dialog
</button>

<dialog id="dialog" data-controller="dialog">
  <h1 id="dialog-title">Modal Dialog</h1>

  <form>
    <label for="first_input">First input</label>
    <input id="first_input" type="text">

    <input type="hidden">

    <label for="second_input">Second input</label>
    <input id="second_input" type="text">

    <label for="third_input">Third input</label>
    <input id="third_input" type="text">

    <button type="submit" formmethod="dialog">Cancel</button>
    <button type="submit">Submit</button>
  </form>
</dialog>

<hr>

<button aria-expanded="false" aria-controls="details" type="button" data-controller="disclosure" data-action="click->disclosure#toggle">
  Open Details
</button>

<details id="details">
  <summary>Summary</summary>

  Details
</details>

<button aria-expanded="false" aria-controls="css-class" type="button" data-controller="disclosure" data-disclosure-expanded-class="expanded" data-action="click->disclosure#toggle">
  Toggle CSS class
</button>

<div id="css-class">CSS class</div>

<button aria-controls="hidden" type="button" data-controller="disclosure" data-action="click->disclosure#toggle">
  Toggle Hidden
</button>

<div id="hidden">Visible</div>

<hr>

<a href="#feed" data-turbo="false">Skip to #feed</a>

<div id="feed" data-controller="feed" data-action="keydown->feed#navigate">
  <article>First article</article>
  <article>Second article</article>
  <article>Third article</article>
</div>

<hr>

<form data-controller="combobox form" data-action="input->form#requestSubmit input->combobox#expand" data-turbo-frame="names">
  <button type="button" data-action="click->combobox#expand">Expand combobox</button>
  <label for="query">Names</label>
  <input id="query" type="search" name="query" role="combobox" aria-expanded="<%= params[:query].present? %>" data-combobox-target="combobox" data-action="keydown->combobox#navigate">

  <turbo-frame id="names" role="listbox" data-combobox-target="listbox">
    <% if params[:query].present? %>
      <% %w[ Alan Alex Alice Barbara Bill Bob ].filter { |name| name.starts_with? params[:query] }.each_with_index do |name, id| %>
        <button id="name_<%= id %>" type="button" role="option" aria-selected="<%= id.zero? %>" data-combobox-target="option"><%= name %></button>
      <% end %>
    <% end %>
  </turbo-frame>
</form>
